body{
  background: #EFDADA;

}
input{
  width: 400px;
}
img{
  position: relative;
  right: 30px;
}
.itemcontato{
    background: white;
    position: absolute;
    width: 470px;
    height: 459px;
    left: 485px;
    top: 233px;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

label {
    font-family: "Public Sans", sans-serif;
    font-weight: bold;
    font-size: 13px;
    line-height: 30px;
    color: #33323d;
    opacity: 0.8;
    margin: 10px 0px 5px 0px;
  }
  .caixa {
    padding: 100px 0;
  }
  
  .ccitem {
margin-top: 30px;
margin-bottom: 20px;
  }
  .caixa h1 {
  font-family: "Ibarra Real Nova", serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 42px;
  max-width: 350px;
  margin: 10px 150px 0px 0px;
  }
  .itemcontato {
  display: flex;
  flex-direction: column;
}
.espaço h1{
margin-bottom: 20px;
}
.btn{
display: flex;
text-align: center;
align-self: center;
}
.btn a{
color:white;
margin-top: 30px;
position: absolute;
width: 111px;
height: 42px;
background: #13A1F0;
border-radius: 8px;
margin-left: 35%;
text-decoration: none;
}
.coluna{
display: flex;
flex-direction: column;
background: #FFFFFF;
border-radius: 8px;
}
.espaço{
margin-bottom: 30px;
padding-left: 10px;
margin-top: 50px;
}
.espaçoh1{
padding-left: 25%;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 35px;
text-align: center;
color: #000000;
}
  